@font-face{
	font-family: "Fanwood";
	src:url(../fonts/fanwood-master/Fanwood Text Italic.otf);
}
@font-face {
	font-family: "Eacologica";
	src:url(../fonts/eacologica-round-slab/eacologica-round-slab-ffp.otf);
}
html {
	font-family: "Fanwood", sans-serif;
}
header {
	top:0;
	height: 35px;
	position: fixed;
	width: auto;
	left:50%;
	transform: translateX(-50%);
	background-color: #19A89C;
	overflow: hidden;
	border-radius: 0px 0px 20px 20px;
	z-index: 10;
}
li {
	list-style-type: none;
	display: inline;
	margin-right: 7px;
	color:white;
	margin-left: 0;
	font-size: 18px;
}
li:hover {
	cursor: pointer;
	text-decoration: underline;

}
.nav_btn li:last-child {
	margin-right: 0px;
}
.nav_btn{
	width: auto;
	float:right;
	margin-top: 3px;
}
.nav_btn li {
	display: inline;
	margin-right: 10px;
}
.logo {
	position: absolute;
	font-family: "Eacologica";
	font-style: italic;
	color: white;
	font-size: 22px;
	top: 50%;
	left: 10%;
	transform: translate(-10%, -50%);
	cursor: default;
}
